#container{
    word-spacing: 10px;
    font-family: 'Roboto Mono', monospace;
    text-align:center;
    width: 100%;
    height:100%;
}
#header{
    margin-top: 20px;
    background-color: white;
    //padding-top: 10px;
    
    
}

img.logo{
    width:5%;
    height: 5%;
}
#profile-list{
    text-align: left;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#content{
    
    background-color: rgb(116, 203, 235);
    margin-left: auto;
    margin-right: auto;
    width:60%;
    height: auto;
    border-radius: 25px;
    font-size: 20px;
}
#menu{
  color: black;
}
#menu li{
  
  display: inline-block;
}

 /* unvisited link */
 a:link {
    word-spacing: 1px;
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(221, 24, 17);
  }
  
  /* selected link */
  a:active {
    color: white;
  } 
  .meme{
    //background-color: rgb(59, 194, 243);
    width:500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
.memeimg{
  max-width: 80%;
  max-height: 80%;
}
.allmemes{
    background-color: rgb(116, 203, 235);
    margin-left: auto;
    margin-right: auto;
    width:60%;
    height: auto;
    border-radius: 25px;
    font-size: 20px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  padding: 10px;
  margin-bottom: 10px;
}
td{
  border: 2px solid black;
  padding: 10px;
}
input, select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
h4{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}